# Logs
*.log

# PyCharm
.idea/

# PipEnv
Pipfile
Pipfile.lock

# Raw Data
tools/**/*.csv
tools/**/*.txt

EvolutionaryHuman/data/names/female.txt
EvolutionaryHuman/data/names/male.txt
EvolutionaryHuman/data/names/neutral.txt
